<!-- Footer -->
<footer class="footer mt-auto">
    <div class="footer-content container d-flex flex-wrap justify-content-between align-items-center text-center text-md-start">
      
      <!-- Redes Sociales -->
      <div class="col-12 col-md-4 mb-3 mb-md-0">
        <div class="footer-social d-flex justify-content-center align-items-center w-100 mb-3">
            <a href="https://www.instagram.com/actitudthrasher/" target="_blank" class="social-icon" rel="noopener noreferrer">
              <img src="insta.png" alt="Instagram de Actitud Thrasher" class="social-icon-img">
            </a>
          </div>
      </div>
  

  
    </div>
  
    <!-- Links inferiores -->
    <div class="footer-bottom container mt-4">
      <div class="footer-links d-flex flex-wrap justify-content-center">
        <a href="/terminos" class="footer-link">Términos y condiciones</a>
        <a href="/privacidad" class="footer-link">Política de privacidad</a>
        <a routerLink="/contac" class="footer-link">Contacto</a>
      </div>
    </div>

    <!-- Información de contacto -->
    <div class="col-12 col-md-4 mb-3 mb-md-0">
        <p class="footer-copy mb-0">&copy; 2008 Actitud Thrasher. Todos los derechos reservados.</p>
      </div>
  </footer>
  